@model HRPayroll.Web.Controllers.LinkEmployeeViewModel
@{
    ViewData["Title"] = "Link Employee to User";
}

<div class="row">
    <div class="col-md-6">
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">Link Employee to User</h3>
            </div>
            <form asp-action="LinkEmployee" method="post">
                <div class="card-body">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="UserId" value="@Model.UserId" />
                    <div class="form-group">
                        <label>User</label>
                        <input class="form-control" value="@Model.UserName (@Model.UserEmail)" readonly />
                    </div>

                    <div class="form-group">
                        <label asp-for="SelectedEmployeeId"></label>
                        <select asp-for="SelectedEmployeeId" class="form-control" asp-items="Model.AvailableEmployees">
                            <option value="">-- Select Employee --</option>
                        </select>
                        <span asp-validation-for="SelectedEmployeeId" class="text-danger"></span>
                    </div>

                    @if (Model.CurrentEmployeeId.HasValue)
                    {
                        <div class="alert alert-info">
                            <i class="fas fa-info"></i> 
                            This user is currently linked to an employee. Select a new employee to change the link.
                        </div>
                    }
                </div>
                
                <div class="card-footer">
                    <button type="submit" class="btn btn-primary">
                        <i class="fas fa-save"></i> Save
                    </button>
                    <a asp-action="Index" class="btn btn-default">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>
